<div th:fragment="head">
<div class="container">
    <header class="d-flex flex-wrap py-3 border-bottom">

        <ul class="nav col-12 col-md-2 mb-5 align-items-center mb-md-0">
            <li>
                <a href="/home" class="nav-link px-3 link-dark">
                    <font style="vertical-align: inherit;">Главная</font>
                </a></li>
            <li>
                <a href="#" class="nav-link px-3 link-dark">
                <font style="vertical-align: inherit;">Профиль</font>
                </a></li>
        </ul>

        <a href="/" class="d-flex align-items-center col-md-8 mb-5 justify-content-center mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg width="90" height="60"
                 xmlns="http://www.w3.org/2000/svg">
                <image href="https://sun7-9.userapi.com/s/v1/if2/B5IxT6EGaEecd_5GMKexbnKEIqYcyPRO8HzicifobnYMnanFRWzTE9pDMApZL_CzUWU6x_A4p55kgq8uYXNTKZgg.jpg?size=350x200&quality=95&type=album" height="60" width="90"/>
            </svg>
        </a>

        <div class="col-md-2 align-items-center mb-md-0 text-end">
            <h5></h5>
            <button type="button" class="btn btn-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Выйти</font></font></button>
        </div>

    </header>
</div>
</div>
</body>
</html>